<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Contact list</title>
</head>
<body>

<ul>
    <li th:each = "contact: ${contacts}">

        <p th:text = "${contact.name}"></p>
        <p th:text = "${contact.surname}"></p>
        <div>

<a th:href="@{'contactDetail/'+${contact.id}}">
    <button>details</button>
</a></div>

<div>
    <img th:src="@{'/ava/'+${contact.avatar}}" alt="">

</div>

    </li>
</ul>

</body>
</html>